<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一念我行</title>
</head>

<body>

  <p>
  <h3><a href="/">一念我行</a></h3>
  </p>

  <div id="mainContent">{{ content }}</div>

  


  <script>

  </script>


  <div style="Position:fixed;bottom: 0px;background-color: black;color: white;" id="floatingDiv">
    <button onclick="window.location.href='/'">主页</button>距离顶部：<span id="yDisplay"></span>
  </div>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      // Restore scroll position if available
      var savedScrollPosition = localStorage.getItem('{{ site.url }}{{ page.url }}');
      if (savedScrollPosition) {
        window.scrollTo(0, savedScrollPosition);
      }

      // Save scroll position on scroll
      window.onscroll = function () {
        var scrollPosition = window.scrollY || window.pageYOffset;
        localStorage.setItem('{{ site.url }}{{ page.url }}', scrollPosition);
      };
    });


    // 在页面加载完成后，动态计算底部边距
    window.onload = function () {
      adjustBottomMargin();
    };

    // 动态计算底部边距
    function adjustBottomMargin() {
      var mainContent = document.getElementById("mainContent");
      var floatingDiv = document.getElementById("floatingDiv");

      // 获取主要内容区域的高度
      var mainContentHeight = floatingDiv.clientHeight;

      // 设置悬浮 div 的底部边距为主要内容区域的高度
      mainContent.style.marginBottom = mainContentHeight + "px";

      console.log("底部边距：" + mainContentHeight)
    }

    // 在窗口大小变化时重新计算底部边距
    window.onresize = function () {
      adjustBottomMargin();
    };
  </script>

</body>

</html>