<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>一念我行</title>
</head>

<body>

  <p>
  <h3><a href="/">一念我行</a></h3>
  </p>

  <p>
    欢迎访问：{{ site.url }}{{ page.url }}
  </p>


  {{ content }}


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Restore scroll position if available
      var savedScrollPosition = localStorage.getItem('{{ site.url }}{{ page.url }}');
      if (savedScrollPosition) {
        window.scrollTo(0, savedScrollPosition);
      }

      // Save scroll position on scroll
      window.onscroll = function () {
        var scrollPosition = window.scrollY || window.pageYOffset;
        localStorage.setItem('{{ site.url }}{{ page.url }}', scrollPosition);
      };
    });
  </script>


  <button style="Position:fixed;top:50%;transform: translateY(-50%);left: 0px;"
    onclick="window.location.href='/'">主页</button>

</body>

</html>